

h1 {
    font-family:Didot, serif;
}

p {
    font-family:Didot, serif;
}

.footer {
    margin-left:75%;
    position:fixed;
    text-align:center;
    bottom:0px;
    width:25%;
    background-color:#fad775;
}



.black_overlay {
    display:none;
    position:relative;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color:black;
    z-index:1001;
    -moz-opacity:0.8;
    opacity:.80;
    filter:alpha(opacity=80);
}

.white_content {
    display:none;
    position:fixed;
    top:25%;
    left:25%;
    width:50%;
    height:50%;
    padding:16px;
    outline:8px solid #e3e3bf;
    border:16px solid #cfbf9b;
    background-color:white;
    z-index:1002;
    overflow:auto;
}

.page-body {
    background-color: beige;
}

.headder {
    /*border-bottom:dashed;*/å
    
}

.title {
    float:center;
}

.title-words {
    text-align:center;
    font-family:Didot, serif;
    font-size:37px;
}

.projects-wrapper {
    height:600px; /*fix this */
    padding-left:2%;
    padding-right:2%;
    
}

.proj-row {
    border-style:;
    height:auto;
}

.proj-body {
    height:100%;
    width:50%;
}

.proj-left {
    border-style:ridge;
    /*border-color:red;*/
    float:left;
}

.proj-right {
    border-style:ridge;
    margin-left:50%;
}

.projs {
    text-align:center;
    font-family:Didot, serif;
    font-size:35px;
}

img {
    width:80%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
